{% extends "blog/base.html" %}
{% block content %}
<section id="home" class="main-about parallax-section">
        <div class="overlay"></div>
        <div class="container">
             <div class="row">

                  <div class="col-md-12 col-sm-12">
                       <h1>About Us</h1>
                  </div>

             </div>
        </div>
   </section>

   <!-- About Section -->

   <section id="about">
        <div class="container">
             <div class="row">

                  <div class="col-md-offset-1 col-md-10 col-sm-12">
                       <div class="col-md-4 col-sm-4">
                            <h2>Our Story</h2>

                            <p>It started because we wanted to do something big, bigger than just another
                                 First-Year's
                                 Halloween.Thats when we first thougth of a <strong>Treasure Hunt</strong>.The first
                                 Treasure Hunt we organised was during halloween during the year 2018.</p>
                            <p>We plan to keep on organising Treasure Hunts.</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <h2>New Design</h2>
                            <p>It's going to be a whole new experience this time.</p>
                            <p> Hope you enjoy it ;)</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <h2><br></h2>
                            <p><br></p>
                       </div>
                       <div class="clearfix"></div>
                       <div class="col-md-6 col-sm-6">
                            <h3>Who are we?</h3>
                       </div>
                       <div class="clearfix"></div>

                       <div class="col-md-4 col-sm-4">
                            <img src="images/abhishek.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Abhishek Anil Deshmukh</h3>
                            <p>"Duniya Gol Hai"</p>
                       </div>

                       <div class="col-md-4 col-sm-4"><br><br>
                            <img src="images/vaishnavi.jpg" class="img-responsive" alt="Blog Image"><br>
                            <h3>Vaishnavi Awasthi</h3>
                            <p>"Mai ajj cute lag raha hu na!</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <img src="images/shriman.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Shriman Keshri</h3>
                            <p>"Abe Dekho"</p>
                       </div>
                       <div class="clearfix"></div>
                       <div class="col-md-4 col-sm-4">
                            <img src="images/saikrishna.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Saikrishna I</h3>
                            <p>""</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <img src="images/nishant.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Nishant Pratin Das</h3>
                            <p>"Bhosriwala"</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <img src="images/tejas.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Tejas Pravin Rokade</h3>
                            <p>"Abe tu sun toh le"</p>
                       </div>
                       <div class="clearfix"></div>
                       <div class="col-md-4 col-sm-4">
                            <img src="images/siddhart.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Siddhart Kumar Singh</h3>
                            <p>"ye kya Bawas** fela rakha hai!"</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <img src="images/ravi.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Ravi Prakash Singh</h3>
                            <p>"OOOO chacha!"</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <img src="images/rahul.jpeg" class="img-responsive" alt="Blog Image">
                            <h3>Rahul Arora</h3>
                            <p>"chu___a hai kya?"</p>
                       </div>
                       <div class="clearfix"></div>
                       <div class="col-md-4 col-sm-4">
                            <img src="images/pranjali.jpeg" class="img-responsive" alt="Blog Image">
                            <h3>Pranjali Singh</h3>
                            <p>"Party kaha hai"</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <img src="images/rupali.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Rupali Kapoor</h3>
                            <p>"Just wait till you get to know me"</p>
                       </div>
                       <div class="col-md-4 col-sm-4">
                            <img src="images/anshika.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Anshika Dhiman</h3>
                            <p>"mereko sona hai"</p>
                       </div>
                       <div class="clearfix"></div>
                       <div class="col-md-4 col-sm-4">
                            <img src="images/navneet.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Navneet</h3>
                            <p>I will laugh at you while you hunt"</p>
                       </div>
                       <div class="col-md-4 col-sm-4">
                            <img src="images/apoorv.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Apoorv Badhani</h3>
                            <p>"hrhrhrhrhrhrhrh hrhrhrrhr"</p>
                       </div>
                       <div class="col-md-4 col-sm-4">
                            <img src="images/anirudh.jpg" class="img-responsive" alt="Blog Image">
                            <h3>Annirudha Shekhawat</h3>
                            <p>"Aur ladke kaisa hai"</p>
                       </div>
                       <div class="clearfix"></div>
                  </div>
             </div>
   </section>


{% endblock content %}
