{% extends "blog/base.html" %}
{% block content %}
<section id="home" class="main-about parallax-section">
        <div class="overlay"></div>
        <div class="container">
             <div class="row">

                  <div class="col-md-12 col-sm-12">
                       <h1>About Us</h1>
                  </div>

             </div>
        </div>
   </section>

   <!-- About Section -->

   <section id="about">
        <div class="container">
             <div class="row">

                  <div class="col-md-offset-1 col-md-10 col-sm-12">
                       <div class="col-md-4 col-sm-4">
                            <h2>Our Story</h2>

                            <p>It started because we wanted to do something big, bigger than just another
                                 First-Year's
                                 Halloween.Thats when we first thougth of a <strong>Treasure Hunt</strong>.The first
                                 Treasure Hunt we organised was during halloween during the year 2018.</p>
                            <p>We plan to keep on organising Treasure Hunts.</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <h2>New Design</h2>
                            <p>It's going to be a whole new experience this time.</p>
                            <p> Hope you enjoy it ;)</p>
                       </div>

                       <div class="col-md-4 col-sm-4">
                            <h2><br></h2>
                            <p><br></p>
                       </div>
                       <div class="clearfix"></div>
                       <div class="col-md-6 col-sm-6">
                            <h3>Who are we?</h3>
                       </div>
                       <div class="clearfix"></div>
                       {% for user in users %}
                            <div class="col-md-4 col-sm-4">
                            <img src="{{ user.profile.image.url }}" class="img-responsive" alt="Blog Image">
                            <h3>{{ user.username }}</h3>
                            <p>"Aur ladke kaisa hai"</p>
                             </div>
                         {% endfor %}
                         <div class="clearfix"></div>

                  </div>
             </div>
   </section>


{% endblock content %}
