{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quest-19</title>
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
     <!-- Main css -->
     <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
   <!-- PRE LOADER -->
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div> 


<!--  <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Django Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              
            </div>
            <!-- Navbar Right Side 
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header-->
   <header class="site-header"> 
 <div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button id="navbarToggle" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a class="navbar-brand" href="{% url 'blog-home' %}">Treasure Hunt</a>

          </div>
          <div id="collapsable-nav" class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">

                    
                    
                    
                    <li><a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a></li>
                    <li><a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a></li>
                    <li><a href="#" data-target="Gallery">Gallery</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                    <li><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
                    {% endif %}
               </ul>
          </div>

     </div>
</div>
</header>

     {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
               {{ message }}
          </div>
          {% endfor %}
     {% endif %}
     {% block content %}{% endblock %}
     
    
     
     

<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>Treasure-Hunt Team</h3>
                    <p>Just having some fun :)</p>
                    <div class="footer-copyright">
                         <p>Copyright &copy; 2019...........We don't know how to get a Copyright</p>
                    </div>
               </div>

               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Talk to us</h3>
                    <p><i class="fa fa-globe"></i> abhishek.deshmukh@niser.ac.in</p>
                    <p><i class="fa fa-phone"></i> 6370504297</p>
                    <p><i class="fa fa-globe"></i> vaishnavi.awasthi@niser.ac.in</p>
                    <p><i class="fa fa-phone"></i> 9827466135</p>
               </div>


          </div>
     </div>
</footer>
<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'blog/js/ajax_utils.js' %}"></script>
<script src="{% static 'blog/js/jquery.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/particles.min.js' %}"></script>
<script src="{% static 'blog/js/app.js' %}"></script>
<script src="{% static 'blog/js/jquery.parallax.js' %}"></script>
<script src="{% static 'blog/js/smoothscroll.js' %}"></script>
<script src="{% static 'blog/js/customs.js' %}"></script>

<!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script-->
<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script-->
</body>
</html>
