{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    
    <!-- Home Section -->

  <section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <h1>Quest 19</h1>
                   <h4>Treasure Hunt</h4>
              </div>

         </div>
    </div>
</section>

<!-- Blog Section -->

<section id="blog">
    <div class="container">
         <div class="row">

              <div class="col-md-offset-1 col-md-10 col-sm-12">
                   <div class="blog-post-thumb">
                        <div class="blog-post-image">
                             <img src="{% static 'blog/images/last_treasure_hunt_winners.jpeg' %}" class="img-responsive" alt="Blog Image">
                        </div>
                        <div class="blog-post-title">
                             <h3>Last Treasure Hunt Winners with Us</h3>
                        </div>
                        <div class="blog-post-format"></div>
                        <div class="blog-post-des">
                             <p>Last Treasure Hunt took place during November 2018. It lasted for over 8 hrs and
                                  we had over a 100 participants from all the batches in NISER We did our
                                  mistakes but,then we only had 2 days to do it sooooooo.<br> </p>
                        </div>
                   </div>
              </div>
         </div>
    </div>
</section>

{% endblock content %}